::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
}
::-webkit-scrollbar-track {
    background: transparent;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
}